/* RESET */

img{
    width: 100%;
}

/* COMMON */

body{
    font-family: Arial, sans-serif;
}

/* Container */
.max_container{
    max-width: 1300px;
}

@media screen and (min-width:576px){
    .max_container{
        padding-left: 20px;
        padding-right: 20px;
    }  
}

@media screen and (min-width:768px){
    .max_container{
        padding-left: 30px;
        padding-right: 30px;
    }  
}


/* Buttons */
.my_btn{
    border-radius: 50px;
    padding: 10px 20px;
}

/* HEADER */

header{
    font-family: Helvetica, arial, sans-serif;
    height: 130px;
    width: 100%;
    position: fixed;
    color: black ;
    font-weight:600;
}

/* Banner */

.header_banner{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px 0;
    height: 50px;
    vertical-align: middle;
}

.header_banner .logo{
    width:80px;
    height: 100%;
}

/* Navbar */

.navbar .logo{
    width: 60px;
}

.navbar .nav-item img{
    width:10px; 
}

/* Navbar buttons */

.navbar .my_btn{
    background-color: #363636;
    color: white;
}
.navbar .nav-item .search{
    width: 25px;
}

/* MAIN */

main{
    padding-top:130px;
}

/* Covers */

.cover_bg{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.full_cover{
    color: white;
    height: 700px;
    margin: auto 0; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;  
}

.half_cover{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.cover_banner{
    width: 60% ; 
    max-width: 350px;
    margin-top: 0;
}

.cover_content > *{
    margin: 30px 0;
}

.half_cover .cover_content{
    max-width: 570px;
} 

.half_cover .cover_img {
    display: none;
} 

@media screen and (min-width:992px){    
    .full_cover{
        max-width: 420px;
    }
}

@media screen and (min-width:768px){
    .half_cover {
        padding: 0 30px; 
    } 
    .half_cover .cover_img {
        display: block; 
    } 
}

/* Cover Images */
.jumbotron{
    background-image: url("../img/jumbo-bg.png");
}

.bg_it_takes_two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* Solid color backgrounds */

.bg_lightgrey{
    color: black;
    background-color: #bebcbb;
}

.bg_darkblue{
    color: white;
    background-color: #161c3b;
}

.bg_darkgrey{
    background-color: #1f1f1f;
    color: white;
}

/* Empty background */

.bg_white .large_title{
    color: black;
}

.bg_white .subtitle{
    color: #727272;
}

/* Buttons */

.full_cover .my_btn{
    background-color: #cd3d0f ;  
    color: white;
}

.bg_lightgrey .half_cover .my_btn {
    background-color: #d9dadc ;  
    color: #3066e6;
}

.bg_darkblue .half_cover .my_btn {
    background-color: white ;  
    color: #161c3b ;
}

.bg_white .my_btn{
    background-color: #2d64e6 ;  
    color: white;
}

/* Media block */

.media_block{
    margin: 70px 0;
}

/* Image block */

.img_block{
    margin-bottom: 25px; 
}

/* Fonts */

.large_title{
    font-size: 36px; 
}

.small_title{
    font-size: 32px; 
}

.subtitle{
    font-size: 18px;
}

.text_block{
    font-size: 15px;
}

.title_block .large_title{
    margin-bottom: 20px;
}

.title_block .small_title{
    margin-bottom: 20px;
}

.title_block .subtitle{
    font-size: 18px;
    margin-bottom: 20px;
}

/* Previews */

.previews{
    padding-top: 40px;
    padding-bottom: 40px;
}

.previews .img_block img{
    border-radius: 20px;
    overflow: hidden;
}

.previews .selected{
    border: 2px solid #2d64e6;
    border-radius: 20px;
    padding: 3px;
}

@media screen and (min-width:992px){
    .previews .img_block{
        margin-bottom: 0; 
    }
}

/* New product */

.new_product{
    padding-top: 50px;
}

.new_product .title_block .slogan{
    text-transform: uppercase;
    font-size: small;
    color: #0072ce;
}

.new_product .text_block{
    text-align: center;
    height: 10px;
}

.new_product .text_block span{
    display: none; 
}

.new_product .selected{
    border-bottom: 2px solid #2d64e6;
}

@media screen and (min-width:768px){
    .new_product .text_block{
        height: 50px;
    }
    .new_product .text_block span {
        display: inline;
    }
}

/* New releases */

.new_releases{
    padding-top: 30px;
    padding-bottom: 30px;
}

.new_releases .img_block{
    border-radius: 15px;
    overflow: hidden;   
}

.releases_title{
    margin: 15px 0 50px;
}

@media screen and (min-width:992px) {
    .img_block{
        margin-top: 0;
        margin-bottom: 0;
    }
} 

/* Coupon */

.coupon {
    padding-top: 70px;
    padding-bottom: 20px;
}

@media screen and (min-width:768px) {
    .coupon .img_block{
        margin-bottom: 0;
    }
} 

/* Explore */

.explore{
    padding-top: 70px;
    padding-bottom: 20px;
}

.explore .media_block img{
    margin-top: 50px;
}

@media screen and (min-width:768px) {
    margin-top: 0;
}

/* Social */

.social{
    padding-top: 70px ;
    padding-bottom: 20px;
}

.social .wrapper{
    max-width: 600px;
    margin: auto;
}

.social .wrapper img{
    margin-bottom:15px ;
}

/* FOOTER */

footer{
    background-color: #00439c ;
    color: white;
    font-size: 14px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer .logo{
    width: 80px;
    margin-bottom: 30px;
}

footer .text_block{
    margin-bottom: 35px;
}

footer ul{
    list-style-type: none;
}

.copyright {
    margin-top: 30px;
}

.copyright .logo{
    width: 130px;
}

.copyright span{
    text-decoration: underline;
}


