/* COMMON */
body{
    font-family: Arial, sans-serif;
}
img{
    width: 100%;
}

/* Buttons */
.my_btn{
    border-radius: 50px;
    padding: 10px 20px;
}

/* HEADER */
header{
    font-family: Helvetica, arial, sans-serif;
    height: 130px;
    width: 100%;
    position: fixed;
    color: black ;
    background-color: pink;
    font-weight:600;
}

/* Banner */
.header_banner{
    background-color: black;
    color: white;
    text-align: right;
    padding: 10px 0;
    height: 50px;
    vertical-align: middle;
}
.header_banner .logo{
    width:80px;
    height: 100%;
}

/* Navbar */
.navbar .logo{
    width: 60px;
}
.navbar .nav-item img{
    width:10px;
    
}
.navbar .my_btn{
    background-color: #363636;
    color: white;
}
.navbar .nav-item .search{
    width: 25px;
}

/* MAIN */

/* Covers */
.cover{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 30px;
    width: 100%;
}

.cover_full{
    color: white;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
}

.cover_half_lightgrey{
    color: black;
    height: 300px;
    background-color: #bebcbb;
}
.cover_half_darkblue{
    color: white;
    height: 300px;
    background-color: #161c3b;
}

.cover_content > *{
    margin-top: 30px;
    
}

.cover_banner{
    width: 60% ; 
}
.cover_full h3{
    font-size: 40px;
}

.cover_full .my_btn{
    background-color: #cd3d0f ;  
    color: white;
}

.cover_half .my_btn{
    background-color: #d9dadc ;  
    color: #3066e6;
}

@media screen and (min-width:992px){
    .cover_full{
        max-width: 400px;
    }
}

/* Jumbotron */
.jumbotron{
    background-image: url("../img/jumbo-bg.png");
}

/* Full cover */
.main_cover_1{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");

}





